{% extends "base.html" %}
{% block content %}
    <h3>Assignments von: {{ student.firstname }} {{ student.lastname }}</h3>
    <ul class="list-group">
    {% for exercise in lva.exercises %}
        {% for assignment in exercise.assignments %}
            {% if assignment.student_id == student.id %}
                <li class="list-group-item"><a href="{{ url_for('routes.assignment_detail', student_id = student.id, assignment_id = assignment.id) }}">Assignment für {{ assignment.exercise.title }} </a></li>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </ul>
    
{% endblock %}